<div class="empleados-container">
  <div class="card-container" *ngFor="let empleado of empleados">
    <div class="first-container">
      <div class="foto-container container">
        @if (user.img) {
        <img [src]="user.img" alt="User Image" (click)="triggerFileInput()" />
        } @else {
        <div class="placeholder" (click)="triggerFileInput()">No image</div>
        }
        <input
          type="file"
          #fileInput
          (change)="onFileSelected($event)"
          style="display: none"
        />
      </div>
      <div class="datos-container">
        <div class="label">Nombre:</div>
        <div class="dato">
          {{ empleado.Persona.Nombre }} {{ empleado.Persona.Apellido }}
        </div>
        <div class="label">Email:</div>
        <div class="dato">{{ empleado.Persona.Usuario.email }}</div>
        <div class="label">Rol:</div>
        <div class="dato">
          {{ getRolName(empleado.Persona.Usuario.GrupoId) }}
        </div>
      </div>
    </div>

    <div class="botones-container">
      <button
        class="modificar-button"
        (click)="abrirModalModificarRol(empleado.id)"
      >
        Cambiar Rol
      </button>
      <button
        class="modificar-button"
        (click)="abrirModalModificar(empleado.id)"
      >
        Modificar
      </button>
      <button class="eliminar-button" (click)="abrirModal(empleado.id)">
        Eliminar
      </button>
    </div>
  </div>
</div>

@if (isModalOpen){<app-eliminar-empleado-modal
  [empleadoId]="selectedEmpleadoId"
  (closeModalEvent)="cerrarModal()"
  (confirmDeleteEvent)="eliminarEmpleado()"
>
</app-eliminar-empleado-modal>

} @if (isModalModificarOpen){<app-modificar-empleado-modal
  [empleadoId]="selectedEmpleadoId"
  (closeModalEvent)="cerrarModal()"
  (confirmModifyEvent)="modificarEmpleado()"
>
</app-modificar-empleado-modal>
} @if (isModalModificarRoleOpen){<app-modificar-role
  [empleadoId]="selectedEmpleadoId"
  (closeModalEvent)="cerrarModal()"
  (confirmChangeEvent)="modificarEmpleado()"
>
</app-modificar-role>
}
