<div class="left-item">
  <h2 class="left-item-title">Cambiar clave</h2>
  <form
    [formGroup]="recoveyPasswordForm"
    class="form-content"
    (ngSubmit)="onSubmit()"
  >
    <input
      id="claveAnterior"
      type="password"
      formControlName="claveAnterior"
      class="form-input"
      placeholder="Clave anterior"
    />
    @if(formErrors.claveAnterior){
    <div class="error-message">
      {{ formErrors.claveAnterior }}
    </div>
    }

    <input
      id="nuevaClave"
      type="password"
      formControlName="nuevaClave"
      class="form-input"
      placeholder="Nueva clave"
    />

    @if(formErrors.nuevaClave){
    <div class="error-message">
      {{ formErrors.nuevaClave }}
    </div>
    }

    <input
      id="repetirClave"
      type="password"
      formControlName="repetirClave"
      class="form-input"
      placeholder="Repetir nueva clave"
    />

    @if(formErrors.repetirClave){
    <div class="error-message">
      {{ formErrors.repetirClave }}
    </div>
    }

    <div class="form-group">
      <button type="submit" class="login-button">Cambiar clave</button>
    </div>

    @if(successMessage){
    <div class="success-message">
      {{ successMessage }}
    </div>
    } @if(errorMessage){
    <div class="error-message">
      {{ errorMessage }}
    </div>
    }
  </form>
</div>
<div class="right-image">
  <img src="/assets/login.png" alt="Centered Image" />
</div>
