<div class="left-item">
  <h2 class="left-item-title">Cambiar clave</h2>
  <form
    [formGroup]="recoveyPasswordForm"
    class="form-content"
    (ngSubmit)="onSubmit()"
  >
    <input
      id="claveAnterior"
      type="password"
      formControlName="claveAnterior"
      class="form-input"
      placeholder="Clave anterior"
    />
    <input
      id="nuevaClave"
      type="password"
      formControlName="nuevaClave"
      class="form-input"
      placeholder="Nueva clave"
    />
    <input
      id="repetirClave"
      type="password"
      formControlName="repetirClave"
      class="form-input"
      placeholder="Repetir nueva clave"
    />

    <div class="form-group">
      <button type="submit" class="login-button">Cambiar clave</button>
    </div>
  </form>
</div>
<div class="right-image">
  <img src="/assets/login.png" alt="Centered Image" />
</div>
