.form-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container {
  position: absolute;
  top: 7%;
  left: 15%;
}

.form-input {
  background-color: #f0efff;
  height: 50px;
  width: 300px;
  border: none;
  border-radius: 8px;
  outline: none;
  padding-left: 25px;
  font-family: "Montserrat", sans-serif;

  &::placeholder {
    color: #a7a3ff;
  }
}

.login-button {
  background-color: #4d47c3;
  width: 328px;
  height: 50px;
  color: #fff;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 4px 10px rgb(77 71 195 / 72%);
  font-family: "Montserrat", sans-serif;

  &:focus,
  &:active {
    outline: none;
  }

  &:disabled {
    background-color: #a7a3ff;
    cursor: not-allowed;
  }
}

.form-title {
  font-size: 20px;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

img {
  max-width: 25%;
  position: absolute;
  bottom: 0px;
  left: 60%;
}

.error-message {
  color: red;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}

.success-button {
  background-color: #7eca24;
  width: 328px;
  height: 50px;
  color: #fff;
  border-radius: 8px;
  border: none;

  font-family: "Montserrat", sans-serif;

  &:focus,
  &:active {
    outline: none;
  }
}
