<div class="form-container">
  <div class="form-title">Registrate</div>
  <form [formGroup]="registerForm" class="form-content" (ngSubmit)="register()">
    <input
      id="email"
      type="email"
      formControlName="email"
      class="form-input"
      placeholder="Email"
    />
    <div
      *ngIf="
        registerForm.get('email')?.touched && registerForm.get('email')?.invalid
      "
      class="error-message"
    >
      <div *ngIf="registerForm.get('email')?.errors?.['required']">
        Email es requerido.
      </div>
      <div *ngIf="registerForm.get('email')?.errors?.['email']">
        Email no es válido.
      </div>
    </div>

    <input
      id="nombre"
      type="text"
      formControlName="nombre"
      class="form-input"
      placeholder="Nombre"
    />
    <div
      *ngIf="
        registerForm.get('nombre')?.touched &&
        registerForm.get('nombre')?.invalid
      "
      class="error-message"
    >
      Nombre es requerido.
    </div>

    <input
      id="apellido"
      type="text"
      formControlName="apellido"
      class="form-input"
      placeholder="Apellido"
    />
    <div
      *ngIf="
        registerForm.get('apellido')?.touched &&
        registerForm.get('apellido')?.invalid
      "
      class="error-message"
    >
      Apellido es requerido.
    </div>

    <input
      id="clave"
      type="password"
      formControlName="clave"
      class="form-input"
      placeholder="Clave"
    />
    <div
      *ngIf="
        registerForm.get('clave')?.touched && registerForm.get('clave')?.invalid
      "
      class="error-message"
    >
      <div *ngIf="registerForm.get('clave')?.errors?.['required']">
        Clave es requerida.
      </div>
      <div *ngIf="registerForm.get('clave')?.errors?.['minlength']">
        Clave debe tener al menos 6 caracteres.
      </div>
    </div>

    <input
      id="repetirclave"
      type="password"
      formControlName="repetirclave"
      class="form-input"
      placeholder="Confirmar clave"
    />
    <div
      *ngIf="
        registerForm.get('repetirclave')?.touched &&
        registerForm.get('repetirclave')?.invalid
      "
      class="error-message"
    >
      <div *ngIf="registerForm.get('repetirclave')?.errors?.['required']">
        Confirmar clave es requerida.
      </div>
      <div *ngIf="registerForm.get('repetirclave')?.errors?.['mismatch']">
        Las claves no coinciden.
      </div>
    </div>

    <div class="form-group">
      @if(!registroexitoso){
      <button class="login-button" [disabled]="registerForm.invalid">
        Registrarse</button
      >} @else {

      <button class="succes-button" (click)="goBacktoLogin()">
        Registro exitoso! Ingresar
      </button>
      }
    </div>
  </form>
</div>

<div class="right-image">
  <img src="/assets/login.png" alt="Centered Image" />
</div>
