<div class="modal-overlay" (click)="closeModal()"></div>
<div class="form-container">
  <div class="card-container">
    <div class="close-button" (click)="closeModal()">&#x2715;</div>
    <div class="first-container">
      <div class="datos-container">
        <form
          [formGroup]="modifyNombreForm"
          class="form-content"
          (ngSubmit)="modificarNombreTitulo()"
        >
          <label for="apellido"> Nombre</label>
          <input
            id="nombre"
            type="text"
            formControlName="nombre"
            class="form-input"
          />

          <label for="apellido"> Apellido</label>
          <input
            id="apellido"
            type="text"
            formControlName="apellido"
            class="form-input"
          />

          <label for="titulo"> Titulo</label>
          <input
            id="titulo"
            type="text"
            formControlName="titulo"
            class="form-input"
          />
        </form>
      </div>
    </div>

    <div class="botones-container">
      <button class="cancelar-button" (click)="closeModal()">Cancelar</button>
      <button class="modificar-button" (click)="modificarNombreTitulo()">
        Modificar
      </button>
    </div>
  </div>
</div>
