<div class="form-title">Informacion personal</div>
<div class="form-container">
  <form [formGroup]="registerForm" class="form-content">
    <input
      id="telefono"
      type="number"
      formControlName="telefono"
      class="form-input"
      placeholder="Telefono celular"
    />
    <input
      id="fechadenacimiento"
      type="date"
      formControlName="fechadenacimiento"
      class="form-input"
      placeholder="Fecha de nacimiento"
    />

    <input
      id="pais"
      type="text"
      formControlName="pais"
      class="form-input"
      placeholder="Pais"
    />
    <input
      id="provincia"
      type="text"
      formControlName="provincia"
      class="form-input"
      placeholder="Provincia"
    />
    <input
      id="ciudad"
      type="text"
      formControlName="ciudad"
      class="form-input"
      placeholder="Ciudad"
    />
    <input
      id="direccion"
      type="text"
      formControlName="direccion"
      class="form-input"
      placeholder="Direccion"
    />
    <input
      id="numero"
      type="number"
      formControlName="numero"
      class="form-input"
      placeholder="Numero"
    />
    <div class="form-group">
      <button class="secondary-button">Antes</button>
      <button class="primary-button">Siguiente</button>
    </div>
  </form>
</div>
