<div class="left-item">
  <h2 class="left-item-title">Recupera tu clave</h2>
  <p class="left-item-subtitle">
    Ingresa el mail con el que te registraste. Recibirás un código para
    restablecer tu contraseña.
  </p>
  <form
    [formGroup]="recoveyPasswordForm"
    class="form-content"
    (ngSubmit)="onSubmit()"
  >
    <input
      id="mail"
      type="email"
      formControlName="mail"
      class="form-input"
      placeholder="Email"
    />
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>
    <div class="form-group">
      <button type="submit" class="login-button">Continuar</button>
    </div>
  </form>
</div>
<div class="right-image">
  <img src="/assets/login.png" alt="Centered Image" />
</div>
