@if (empleo) {
<div class="card-container">
  <div class="container">
    <div class="header">
      <div class="job-title">{{ empleo.empleo.Titulo }}</div>
      <div class="info-header">
        {{ empleo.empleo.Remoto ? "Remoto" : "Presencial" }}
      </div>
    </div>

    <div class="descripcion-container">{{ empleo.empleo.Descripcion }}</div>
    @if (empleoOrigen){
    <div class="info-ciudad">
      {{ empleoOrigen.ciudad }}, {{ empleoOrigen.provincia }},
      {{ empleoOrigen.pais }}
    </div>
    }
    <div class="footer-container">
      <div class="skills-container">
        <p class="skills">Skills:</p>
        <div *ngFor="let habilidad of empleo.habilidades" class="lista-skills">
          {{ habilidad.TipoHabilidad.Tipo }}
        </div>
      </div>
    </div>
    <div class="button-container">
      @if(yaPostulado){
      <button class="apply-button disabled" disabled>Postulado</button>
      } @else {
      <button class="apply-button" (click)="aplicarEmpleo()">Aplicar</button>
      }
    </div>
  </div>
</div>

}
