.container {
  border-radius: 30px;
  background-color: #f0efff;
  box-shadow: 0px 4px 4px 3px #00000040;
  padding: 20px;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.super-container {
  padding: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.left-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experiencia-skills-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.foto-container {
  width: 245px;
  height: 160px;
}

.datos-container {
  width: 245px;
  height: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: self-start;
}

.cambiar-clave-container,
.eliminar-cuenta-container {
  width: 245px;
  height: 15px;
  text-align: center;
  cursor: pointer;
}

.sobre-mi-container {
  width: 1000px;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.experiencias-estudios-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.experiencia-container {
  width: 700px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.estudios-container {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skills-container {
  width: 245px;
  height: 430px;
  display: flex;
  flex-direction: column;
}

.foto-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto-container img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.placeholder {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  color: #999;
}

.label {
  color: #4540db;
  font-size: 15px;
  font-weight: bold;
}

.cambiar-clave,
.eliminar-cuenta {
  color: #ff5652;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.cambiar-clave {
  text-decoration: none;
}

.editar-pen {
  width: 20px;
  cursor: pointer;
}

.nombre {
  font-size: 24px;
}

.experiencias {
  padding-bottom: 10px;
}

.experiencia-item {
  display: flex;
  flex-direction: row;
}

.experiencia-titulo {
  color: #4540db;
  font-size: 15px;
  font-weight: bold;
}

.experiencia-nombre-empresa {
  font-weight: 500;
}

.experiencia-fechas {
  font-style: italic;
}

.edicion-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.edicion-container-datos {
  align-self: flex-end;
}

.editar-descripcion-pen {
  margin-top: auto;
  align-self: flex-end;
}

.experiencia-titulo {
  text-transform: uppercase;
  margin-right: 8px;
}

.experiencias-lista {
  display: flex;
  flex-direction: column;
}

.trash-container {
  align-self: flex-end;
}

.skill-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
