<div class="super-container">
  <div class="left-container">
    <!-- Contenedor con nombre, apellido, foto y titulo -->
    <div class="foto-container container">
      @if (user.img) {
      <img [src]="user.img" alt="User Image" (click)="triggerFileInput()" />
      } @else {
      <div class="placeholder" (click)="triggerFileInput()">No image</div>
      }
      <input
        type="file"
        #fileInput
        (change)="onFileSelected($event)"
        style="display: none"
      />
      <div class="nombre">{{ nombre }} {{ apellido }}</div>
      @if(postulante.Titulo){
      <div class="puesto label">{{ postulante.Titulo }}</div>
      } @else {
      <div class="puesto label">Completa con tu titulo</div>
      }
    </div>

    <!-- Contenedor con email, celular, fecha de nacimiento y lugar de residencia -->
    <div class="datos-container container">
      <div class="label">Email</div>
      <div class="data">{{ email }}</div>
      <div class="label">Celular</div>
      @if(postulante.Telefono){
      <div class="data">{{ postulante.Telefono }}</div>
      } @else {
      <div class="data">No completo</div>
      }
      <div class="label">Fecha de nacimiento</div>
      @if(postulante.FechaNacimiento){
      <div class="data">{{ postulante.FechaNacimiento | date }}</div>
      } @else {
      <div class="data">No completo</div>
      }
      <div class="label">Lugar de residencia</div>
      @if(postulante.CiudadId){
      <div class="data">
        {{ postulanteResidencia.ciudad }}, {{ postulanteResidencia.provincia }},
        {{ postulanteResidencia.pais }}
      </div>
      } @else {
      <div class="data">No completo</div>
      }
    </div>

    <!-- Botones para cambiar clave y eliminar cuenta -->
    <div
      class="cambiar-clave-container container"
      (click)="aprobarPostulante()"
    >
      <p class="cambiar-clave">Aprobar postulante</p>
    </div>
    <div
      class="eliminar-cuenta-container container"
      (click)="rechazarPostulante()"
    >
      <p class="eliminar-cuenta">Rechazar postulante</p>
    </div>
  </div>

  <!-- Descripcion Sobre Mi -->
  <div class="right-container">
    <div class="sobre-mi-container container">
      <div class="label">Sobre mi</div>
      @if(postulante.Descripcion){
      <div class="datos-sobre-mi">
        {{ postulante.Descripcion }}
      </div>
      } @else {
      <div class="data">
        Escribe un resumen para destacar tu personalidad o experiencia laboral
      </div>
      }
    </div>

    <!-- Experiencias -->
    <div class="experiencia-skills-container">
      <div class="experiencias-estudios-container">
        <div class="experiencia-container container">
          <div class="label experiencias">Experiencia laboral</div>

          @if (experiencias.length !== 0){
          <div
            *ngFor="let experiencia of experiencias"
            class="experiencias-lista"
          >
            <div class="experiencia-item">
              <div class="experiencia-titulo">
                {{ experiencia.Puesto }}
              </div>
              <div class="experiencia-nombre-empresa">
                - {{ experiencia.NombreEmpresa }}
              </div>
            </div>
            <div class="experiencia-fechas">
              {{ experiencia.FechaInicio | date : "dd/MM/yyyy" }} -
              {{
                experiencia.FechaFin
                  ? (experiencia.FechaFin | date : "dd/MM/yyyy")
                  : "Presente"
              }}
            </div>
            <div>{{ experiencia.Descripcion }}</div>
          </div>
          } @else {
          <div class="">No completo</div>
          }
        </div>

        <!------------------- Estudios ------------------------>

        <div class="estudios-container container">
          @if (universidades.length == 0 && cursos.length == 0 &&
          secundaria.length == 0 && otros.length == 0){
          <div class="label">Formaciones</div>
          <div class="">No completo</div>
          } @if(universidades.length !== 0){
          <div class="label">Estudios universitarios</div>
          <div
            *ngFor="let universidad of universidades"
            class="experiencias-lista"
          >
            {{ universidad.Descripcion }}
            {{ universidad.FechaInicio | date : "dd/MM/yyyy" }} -
            {{ universidad.FechaFin | date : "dd/MM/yyyy" }}
          </div>
          } @if(cursos.length !== 0){
          <div class="label">Cursos</div>
          <div *ngFor="let curso of cursos" class="experiencias-lista">
            {{ curso.Descripcion }}
            {{ curso.FechaInicio | date : "dd/MM/yyyy" }} -
            {{ curso.FechaFin | date : "dd/MM/yyyy" }}
          </div>
          } @if(secundaria.length !== 0){
          <div class="label">Estudios Secundarios</div>
          <div *ngFor="let secundaria of secundaria" class="experiencias-lista">
            {{ secundaria.Descripcion }}
            {{ secundaria.FechaInicio | date : "dd/MM/yyyy" }} -
            {{ secundaria.FechaFin | date : "dd/MM/yyyy" }}
          </div>
          }@if(otros.length !== 0){
          <div class="label">Otros estudios</div>
          <div *ngFor="let otro of otros" class="experiencias-lista">
            {{ otro.Descripcion }}
            {{ otro.FechaInicio | date : "dd/MM/yyyy" }} -
            {{ otro.FechaFin | date : "dd/MM/yyyy" }}
          </div>
          }
        </div>
      </div>

      <!------------------- Habilidades ------------------------>
      <div class="skills-container container">
        <div class="label">Skills</div>
        @if(habilidades.length == 0){
        <div class="">No completo</div>
        }

        <div *ngFor="let habilidad of habilidades" class="skill-container">
          <div class="skill">
            {{ habilidad.TipoHabilidad.Tipo }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
