.card-container {
  max-width: 1000px;
  background-color: #bdbaf0;
  padding: 30px;
  border-radius: 30px;
  background-color: #f0efff;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.2509803922);
}

.apply-button {
  background-color: #4d47c3;
  width: 120px;
  height: 50px;
  color: #fff;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 4px 10px rgb(77 71 195 / 72%);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  &:focus,
  &:active {
    outline: none;
  }
}

.job-title {
  font-size: 30px;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
