<div class="card-container">
  <div class="header">
    <div class="job-title">UX/UI designer</div>
    <div class="info-header">full-time</div>
  </div>
  <div class="descripcion-container">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod
    viverra nisl non euismod. Pellentesque dignissim arcu orci, nec finibus est
    lobortis sit amet. Integer vitae nulla est. Nullam vel ornare ex, id auctor
    lacus . Duis dapibus interdum justo sed sagittis. Sed ac leo sit amet erat
    auctor imperdiet. Sed in rutrum est. Maecenas ut commodo mi. Praesent
    feugiat enim sed maximus volutpat. Nullam porttitor ipsum odio, quis tempor
    nisl porta aliquet. Phasellus a bibendum massa.
  </div>
  <div class="footer-container">
    <div class="skills-container">
      <p class="skills">Skills:</p>
      <div class="lista-skills">Skill 1</div>
    </div>
    <div class="button-container">
      <button class="apply-button">Aplicar ahora</button>
    </div>
  </div>
</div>
