<div class="container">
  <h2 class="title">Cantidad de registrados por mes</h2>
  <div style="width: 100%; height: 400px">
    <canvas
      baseChart
      [datasets]="userChartData"
      [labels]="userChartLabels"
      [options]="chartOptions"
      [legend]="chartLegend"
      [type]="chartType"
    >
    </canvas>
  </div>

  <h2 class="title">Cantidad de aplicaciones por mes y status</h2>
  <div style="width: 100%; height: 400px">
    <canvas
      baseChart
      [datasets]="applicationChartData"
      [labels]="applicationChartLabels"
      [options]="chartOptions"
      [legend]="chartLegend"
      [type]="chartType"
    >
    </canvas>
  </div>

  <h2 class="title">Cantidad de logins por mes</h2>
  <div style="width: 100%; height: 400px">
    <canvas
      baseChart
      [datasets]="loginChartData"
      [labels]="loginChartLabels"
      [options]="chartOptions"
      [legend]="chartLegend"
      [type]="chartType"
    >
    </canvas>
  </div>

  <h2 class="title">Duración promedio de sesión por mes</h2>

  <div style="width: 100%; height: 400px">
    <canvas
      baseChart
      [datasets]="sessionDurationChartData"
      [labels]="sessionDurationChartLabels"
      [options]="sessionDurationChartOptions"
      [legend]="sessionDurationChartLegend"
      [type]="sessionDurationChartType"
    >
    </canvas>
  </div>
</div>
