.title {
  align-content: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #4540db;
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 100px;
}
